
body {
	font-family: sans-serif;
	cursor:default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.watch{
	height:300px;
	width:300px;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	border-radius: 150px;
å
}

.time {
	font-size:3em;
	background-color: #FFF;
	text-align: center;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	border-radius: 20px;

}

.box {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #FFFFFF;
	overflow: hidden;
}

.inputstart {
	text-align: center;
	display: inline-block;
	background-color: #01DF01;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid black;
	border-radius: 50%;
}

.inputreset {
	float: right;
	text-align: center;
	display: inline-block;
	background-color: #99CCFF;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid black;
	border-radius: 50%;

}

#lap-wrapper{
	text-align: center;
	font-size: 2em;
	padding-top: 150px;
	margin-top: -55px;
	margin-left: auto;
	margin-right: auto;
	background-image:url(note-pad.png);
	background-repeat: no-repeat;
	/*width: 495px;
	height: 585px;*/
	background-size: 100%;
	min-height: 585px;
	max-width: 495px;
	z-index: -10;
}

.wrapper{
	width: 90%;
	margin: 0 auto; 
}
